    #carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1000px;
    margin: auto;
  }
  
  
  #models-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
    
  }
  
  .model-container {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    
  }
  
  .carousel-btn {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    
  }
  
  #prev-btn {
    left: -40px;
  }
  
  #next-btn {
    right: -40px;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
  }
  
  
  